!!! 5
html
  head
    title FlowMap
    style(type='text/css').
      #left {
        float: left;
      }
      ul.nav {
        list-style-type: none;
      }
  body
    #content
      #left
        ul.nav
      #main
        ul
          li
            a